# Ignore Angular frontend app
auth-app/

# Ignore build artifacts
**/bin/
**/obj/
**/publish/

# Visual Studio files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
